@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
/*Body*/
body {
    background-color: #9984d4;
}
/*Container*/
.container{
    background-color: white;
    margin: 30px auto;
    width: 50%;
}
/*Header*/
header{
    background-color: white;
    padding: 10px;
}
header > img{
    width: 100px;
}
/*Hr*/
hr{
    color: #9984d4;
    margin: 8px;
    border-style: solid;
}
/*Round*/
.round {
    padding: 8px;
    margin: 0 4px;
    background-color: #9984d4;
    border-radius: 50%;
    color: white;
  }
/*Mails*/

.mail {
    padding: 5px;
    background-color: #c4c4c4;
}
  
  .read {
    background-color: #fff;
}